## Story 01. 레퍼런스 카운트와 가비지 컬렉션

In [1]:
r1 = [1, 2, 3]  # 리스트 [1, 2, 3]의 레퍼런스 카운트는 1
r2 = r1         # 리스트의 레퍼런스 카운트는 2로 증가
r1 = 'simple'   # 리스트의 레퍼런스 카운트는 다시 1로 증가
r2 = 'happy'    # 리스트의 레퍼런스 카운트가 0이 됨, 따라서 가비지 컬렉션 대상

![python virtual machine](./figs/fig01-1.jpg)

## Story 02. 수정 가능한 객체와 수정 불가능한 객체

### mutable & immutable

* mutable object: `list`, `dictionary`
* immutable object: `tuple`. `string`

In [2]:
r = [1, 2]
id(r)

2514380478144

In [3]:
r += [3, 4]
r

[1, 2, 3, 4]

In [4]:
id(r)

2514380478144

---

In [5]:
t = (1, 2)
id(t)

2514379482496

In [7]:
t += (3, 4)
t

(1, 2, 3, 4, 3, 4)

In [8]:
id(t)

2514380260832

### 성격에 따라 달라지는 함수의 정의

In [9]:
def add_last(m, n):
    m += n

In [10]:
r = [1, 2]
add_last(r, [3, 4])
r

[1, 2, 3, 4]

In [11]:
t = (1, 2)
add_last(t, (3, 4))
t

(1, 2)

---

In [14]:
def add_tuple(t1, t2):
    t1 += t2
    return t1

In [15]:
tp = (1, 2)
tp = add_tuple(tp, (3, 4))
tp

(1, 2, 3, 4)

---

In [17]:
def min_max(d):
    d.sort()
    print(d[0], d[-1], sep=', ')

In [18]:
l = [3, 1, 5, 4]
min_max(l)

1, 5

In [19]:
l

[1, 3, 4, 5]

---

In [23]:
def min_max2(d):
    d = list(d)
    d.sort()
    print(d[0], d[-1], sep=', ')

In [24]:
l = [3, 1, 5, 4]
min_max2(l)

1, 5

In [25]:
l

[3, 1, 5, 4]

In [26]:
t = (2, 7, 5, 9, 0)
min_max2(t)
t

0, 9

(2, 7, 5, 9, 0)

## Story 03. 깊은 복사와 얕은 복사

### 두 객체의 비교와 복사

In [27]:
r1 = [1, 2, 3]
r2 = [1, 2, 3]

In [28]:
r1 == r2

True

In [29]:
r1 is r2

False

In [30]:
r2 = r1
r1 is r2

True

---

In [32]:
r1 = ['John', ('man', 'USA'), [175, 23]]   # [immutable, immutable, mutable]
r2 = list(r1)   # 얕은 복사
r1 is r2

False

In [33]:
r1[0] is r2[0]

True

### 깊은 복사

In [34]:
J2021 = ['John', ('man', 'USA'), [175, 23]]
J2022 = list(J2021)
J2022[2][1] += 1

In [35]:
J2022

['John', ('man', 'USA'), [175, 24]]

In [36]:
J2021

['John', ('man', 'USA'), [175, 24]]

---

In [37]:
import copy

In [39]:
J2021 = ['John', ('man', 'USA'), [175, 23]]
J2022 = copy.deepcopy(J2021)
J2022[2][1] += 1

In [40]:
J2021

['John', ('man', 'USA'), [175, 23]]

---

In [41]:
d1 = (1, 2, 3)
d2 = 'Please'
c1 = tuple(d1)
c2 = str(d2)

In [42]:
d1 is c1

True

In [43]:
d2 is c2

True